

*{
	box-sizing: border-box; 
}

body{
	font-size: 0;
}

.align-children{
	font-size: 0;
}

.align-children > * {
	display: inline-block;
	vertical-align: top;
	font-size: medium;
}

/*-------------------------------------*/

.bigBox{
	width: 100%;
/*	height: 435px;*/
	border:	3px solid black;

}

.shirtBox{
	max-width: 100%;
	border: 3px solid green;
}

.shirtBox img{
	width: 100%;
	height: 300px;
}

.click{
	width: 20%;
	border: 3px solid orange;
	/*need to move top-right*/
}

/*--------------*/

.iconButton{
	width: 20%;
	height: 10%;
	border: 3px solid orange;
	padding: 3px 3px 3px 3px;
}


.arrow:hover{
	outline: none;
	background-color: green;
}

.heart:hover{
	outline: none;
	background-color: red;
}

.cart:hover{
	outline:none;
	background-color: green;
}

/*--Size checkbox-----*/


/*
.img_size:hover {
	width: 25px;
}*/

div.size img{
	/*display: none;*/
	position: relative;
	/*background-color: purple;*/
/*	min-width: 160px;*/
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	padding: 12px 16px;
	z-index: 2;
	max-width: 100%;
	width: 100px;
	opacity: 0px;
	transition: all 2s;
	visibility: hidden;
}


p:hover ~ .img_size {
	margin-top: -200px;
	/*transition: all 2s*/
	visibility: visible;
}

p{
	color: #e74c3c;
	font-size:15px;
	text-align: center; 
	z-index: 1;
	

}


/*--Color checkbox-----*/



/*--------------------*/

.infoLine{
	width:100%;
	border: 3px solid purple;
}

.name{
	width: 50%;
	text-align: left;
}

.price{
	width: 50%;
	text-align: right;	
}


/*------media layout styling-------*/

@media (min-width: 608px){
	.bigBox{
		width: 40.3333%;
	}
	
